{% extends "layout.html" %}

{% block title %}Add Task{% endblock title %}

{% block content %}

<div class="container-fluid">
    <div class="page-header">
        <h1 style="text-align: center;text-transform: uppercase">Add Task</h1>
    </div>
    <form action="addtask" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="taskname">Task Name</label>
            <input type="text" class="form-control" id="taskname" placeholder="Complete Project" name="taskname">
        </div>
        <div class="form-group">
            <label for="taskdecription">Text Description</label>
            <textarea class="form-control" id="taskdecription" rows="2" name="taskdecription"></textarea>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <input type="date" class="form-control" placeholder="Due Date" name="duedate">
                </div>
                <div class="col">
                    <select class="form-control" id="priority" name="priority" required>
                        <option value="" disabled selected>Select priority...</option>
                        <option value="High">High</option>
                        <option value="Low">Low</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="assignto">Assign To</label>
            <select class="form-control" id="assignto" name="assignto">
                <option value="" disabled selected>Select Employee...</option>
                {% for data in user_emails %}
                <option value={{ data.user_email }}> {{ data.user_email }} </option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Add Task</button>
    </form>

</div>

{% endblock content %}